<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="../static/jquery.js"></script>
    <script type="text/javascript" src="../static/drawingboard.min.js"></script>
    <link rel="stylesheet" href="../static/drawingboard.min.css">
    <title>Numerical Recognization </title>
<script>
    var x = 0
    var model = (window.location.pathname).split("/")[1];
</script>
</head>


<body>
<center>
        <h1 style="font-size: 150%;"><u>Numerical Recognization <br/>by Deep Learning</u></h1>
        <h2 id="subtitle" style="font-size: 100%">Draw your Character in Hindi </h2>

<table>
    <tr>
        <td>
            <center><b><div id="left_bar_title" style="display: none">"Hindi"</div></b></center>
            <table id="left_bar" style="display: none">
                <tr>
                    <td><img id="display_image_hindi_1" src="../static/display_images/hindi/1/0.png"/></td>
                    <td ><img id="display_image_hindi_2" src="../static/display_images/hindi/2/0.png"/></td>
                    <td ><img id="display_image_hindi_3" src="../static/display_images/hindi/3/0.png"/></td>
                </tr>
                <tr>
                    <td><img id="display_image_hindi_4" src="../static/display_images/hindi/4/0.png"/></td>
                    <td><img id="display_image_hindi_5" src="../static/display_images/hindi/5/0.png"/></td>
                    <td><img id="display_image_hindi_6" src="../static/display_images/hindi/6/0.png"/></td>
                </tr>
                <tr>
                    <td><img id="display_image_hindi_7" src="../static/display_images/hindi/7/0.png"/></td>
                    <td><img id="display_image_hindi_8" src="../static/display_images/hindi/8/0.png"/></td>
                    <td><img id="display_image_hindi_9" src="../static/display_images/hindi/9/0.png"/></td>
                </tr>
                <tr>
                   <td></td>
                   <td><img id="display_image_hindi_0" src="../static/display_images/hindi/0/0.png"/></td>
                   <td></td>
                </tr>
            </table>
        </td>
        <td></td>
        <td>
            <div id="Board5" style="width:260px; height: 260px;"></div>
        </td>
        <td></td>
        <td>
            <center><b><div id="right_bar_title" style="display: none">"English"</div></b></center>
            <table id="right_bar" style="display: none">
                <tr>
                    <td><img id="display_image_eng_1" src="../static/display_images/english/1/0.png"/></td>
                    <td ><img id="display_image_eng_2" src="../static/display_images/english/2/0.png"/></td>
                    <td ><img id="display_image_eng_3" src="../static/display_images/english/3/0.png"/></td>
                    </tr>
                <tr>
                    <td><img id="display_image_eng_4" src="../static/display_images/english/4/0.png"/></td>
                    <td><img id="display_image_eng_5" src="../static/display_images/english/5/0.png"/></td>
                    <td><img id="display_image_eng_6" src="../static/display_images/english/6/0.png"/></td>
                </tr>
                <tr>
                    <td><img id="display_image_eng_7" src="../static/display_images/english/7/0.png"/></td>
                    <td><img id="display_image_eng_8" src="../static/display_images/english/8/0.png"/></td>
                    <td><img id="display_image_eng_9" src="../static/display_images/english/9/0.png"/></td>
                </tr>
                <tr>
                   <td></td>
                   <td><img id="display_image_eng_0" src="../static/display_images/english/0/0.png"/></td>
                   <td></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td align="center">
            <button id="button_predict" style="font-size: 100%" onClick="processimage()">
                    Predict
            </button>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td align="center">
            <h3 id="predict_result" style="font-size: 120%"></h3>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>
<footer style="font-size: 100%"> <b> &lt;love&gt; Made by Shivam &lt;/love&gt; </b></br></br> 
                                    <b>Credits </b><br/>
                                    <a href="http://github.com/litan/tefla" target="_blank" >Tefla : High Level Deep Learning Framework</a></br>
                                    <a href="https://github.com/Leimi/drawingboard.js" target="_blank" > Drawing Board JS : For this beautiful Canvas </a></br>
                                    <a href="https://heroku.com" target="_blank" > Heroku : Cloud Platform </a></br>
                                    <a href="https://tensorflow.org" target="_blank" > Tensorflow : Open-source library for Machine Intelligence</a></br> 

</footer>
</center>


<script>
var board5 = new DrawingBoard.Board('Board5', {
	background: "#000000",
	color: "#ffffff",
	size: 25,
	controls: [
         'Color' ,
	    { Size: { type: "dropdown", dropdownValues: [20, 25, 30] } },
		{ Navigation: { back: true, forward: true } },
        { DrawingMode: { filler: false, pencil : false } },
	],
	webStorage: 'false'
});
board5.addControl('Download');

function processimage(){
    //We dont want to download the Image rather
    //document.getElementsByClassName("drawing-board-control-download-button")[0].click();
    var final_image = board5.canvas.toDataURL("image/octet-stream");
    document.getElementById("button_predict").disabled = true;
    console.log(model)
    $.ajax({url: "/predict",
        type: "POST",
        data: JSON.stringify({'image': final_image, 'model': model}),
        contentType: 'application/json',
        error: (function(){
            $('#predict_result').text("Please try again")
            document.getElementById("button_predict").disabled = false;
        }),
        success: function(result){
            $('#predict_result').text("I think you drew : " + result[0] + " in " + result[1])
            document.getElementById("button_predict").disabled = false;
            console.log("Hi Dev, you probably drew " + result[0] + " in " + result[1])
        }});
    };
</script>


<script>

        var hindi_image_array_0 = [], hindi_image_array_1 = [], hindi_image_array_2 = []
        var hindi_image_array_3 = [], hindi_image_array_4 = [], hindi_image_array_5 = []
        var hindi_image_array_6 = [], hindi_image_array_7 = [], hindi_image_array_8 = []
        var hindi_image_array_9 = []

        var eng_image_array_0 = [], eng_image_array_1 = [], eng_image_array_2 = []
        var eng_image_array_3 = [], eng_image_array_4 = [], eng_image_array_5 = []
        var eng_image_array_6 = [], eng_image_array_7 = [], eng_image_array_8 = []
        var eng_image_array_9 = []

        for (var i = 0; i < 10; i++) {
            hindi_image_array_0.push("../static/display_images/hindi/0/" + i + ".png");
            hindi_image_array_1.push("../static/display_images/hindi/1/" + i + ".png");
            hindi_image_array_2.push("../static/display_images/hindi/2/" + i + ".png");
            hindi_image_array_3.push("../static/display_images/hindi/3/" + i + ".png");
            hindi_image_array_4.push("../static/display_images/hindi/4/" + i + ".png");
            hindi_image_array_5.push("../static/display_images/hindi/5/" + i + ".png");
            hindi_image_array_6.push("../static/display_images/hindi/6/" + i + ".png");
            hindi_image_array_7.push("../static/display_images/hindi/7/" + i + ".png");
            hindi_image_array_8.push("../static/display_images/hindi/8/" + i + ".png");
            hindi_image_array_9.push("../static/display_images/hindi/9/" + i + ".png");

            eng_image_array_0.push("../static/display_images/english/0/" + i + ".png");
            eng_image_array_1.push("../static/display_images/english/1/" + i + ".png");
            eng_image_array_2.push("../static/display_images/english/2/" + i + ".png");
            eng_image_array_3.push("../static/display_images/english/3/" + i + ".png");
            eng_image_array_4.push("../static/display_images/english/4/" + i + ".png");
            eng_image_array_5.push("../static/display_images/english/5/" + i + ".png");
            eng_image_array_6.push("../static/display_images/english/6/" + i + ".png");
            eng_image_array_7.push("../static/display_images/english/7/" + i + ".png");
            eng_image_array_8.push("../static/display_images/english/8/" + i + ".png");
            eng_image_array_9.push("../static/display_images/english/9/" + i + ".png");
        }


    window.onload = function() {
        if (model == ""){
            document.getElementById("left_bar").style.display = "table";
            document.getElementById("right_bar").style.display = "table";
            document.getElementById("subtitle").textContent = "Draw your Digit (English/Hindi)";
            document.getElementById("right_bar_title").style.display = "block";
            document.getElementById("left_bar_title").style.display = "block";
            setInterval(function() {
                changeImage()
            },500);
        }
    }

    function changeImage() {
        document.getElementById('display_image_hindi_0').src = hindi_image_array_0[x];
        document.getElementById('display_image_hindi_1').src = hindi_image_array_1[x];
        document.getElementById('display_image_hindi_2').src = hindi_image_array_2[x];
        document.getElementById('display_image_hindi_3').src = hindi_image_array_3[x];
        document.getElementById('display_image_hindi_4').src = hindi_image_array_4[x];
        document.getElementById('display_image_hindi_5').src = hindi_image_array_5[x];
        document.getElementById('display_image_hindi_6').src = hindi_image_array_6[x];
        document.getElementById('display_image_hindi_7').src = hindi_image_array_7[x];
        document.getElementById('display_image_hindi_8').src = hindi_image_array_8[x];
        document.getElementById('display_image_hindi_9').src = hindi_image_array_9[x];

        document.getElementById('display_image_eng_0').src = eng_image_array_0[x];
        document.getElementById('display_image_eng_1').src = eng_image_array_1[x];
        document.getElementById('display_image_eng_2').src = eng_image_array_2[x];
        document.getElementById('display_image_eng_3').src = eng_image_array_3[x];
        document.getElementById('display_image_eng_4').src = eng_image_array_4[x];
        document.getElementById('display_image_eng_5').src = eng_image_array_5[x];
        document.getElementById('display_image_eng_6').src = eng_image_array_6[x];
        document.getElementById('display_image_eng_7').src = eng_image_array_7[x];
        document.getElementById('display_image_eng_8').src = eng_image_array_8[x];
        document.getElementById('display_image_eng_9').src = eng_image_array_9[x];

        if (x < 8) {
            x += 1;
        } else {
            x = 0;
        }
    }

</script>
<style>
    .drawing-board-control-download-button {
        display: none;
    }
</style>
</body>
</html>